@font-face {
    font-family: "iconfont"; /* Project id 4716938 */
    src: url('//at.alicdn.com/t/c/font_4716938_31c7b3dbl4g.woff2?t=1729354219915') format('woff2'),
    url('//at.alicdn.com/t/c/font_4716938_31c7b3dbl4g.woff?t=1729354219915') format('woff'),
    url('//at.alicdn.com/t/c/font_4716938_31c7b3dbl4g.ttf?t=1729354219915') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Profile:before {
    content: "\e60c";
}

.icon-gongju:before {
    content: "\e625";
}
